@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&family=Zen+Dots&display=swap');

body {
    font-family: sans-serif;
    background-image: url("https://i.pinimg.com/originals/98/ff/46/98ff4692183c4d959d0a2e9dd5af8189.jpg") ;
    background-color: #2b2b2b !important;
  }
  
  .file-upload {
    background-image: url("https://i.pinimg.com/originals/98/ff/46/98ff4692183c4d959d0a2e9dd5af8189.jpg") ;
    width: 950px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1ef388;;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color:  #1ef388;
    border: 4px dashed #ffffff;
    color:black;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #1ef388;
    padding: 60px 0;
  }
  .drag-text h3:hover{
    color:black;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .file-analyze{
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
  }
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  #list > li > code{
      font-size: 30px;
      color: #2b2628;
    word-wrap: break-word;
  }

#list-classes{
    margin-top: 30px;
    text-align: center; 
}
ul {
    display: table;
    margin: 0 auto;
    list-style-type: none;
    color: white;
  }

  .jumbotron {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
  }

  .display-header{
    font-family: 'Zen Dots', cursive;
    font-size: 60px;
  }

  small, small {
    font-size: 42% !important;
    font-weight: 400;
  }


